<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game_stash">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/lbl_game_CAPS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Game_stash">
        <activity
            android:name=".VErrorPage"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_error">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VProfile"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VAPIGameDetails"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_game_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VAPISearchResults"
            android:label="@string/lbl_search_results"
            android:parentActivityName=".VAddGameSearch">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VAddGameSearch" />
        </activity>
        <activity
            android:name=".VGameDisplay"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_game_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VAddGameManually"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_add_a_game">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VAddGameSearch"
            android:parentActivityName=".VMainMenu"
            android:label="@string/lbl_add_a_game"/>
        <activity
            android:name=".VGameEditor"
            android:parentActivityName=".VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VEditGamesList"
            android:label="@string/lbl_game_editor"
            android:parentActivityName=".VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VUsersListOfGames"
            android:label="@string/lbl_your_games"
            android:parentActivityName=".VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VMainMenu" />
        </activity>
        <activity
            android:name=".VMainMenu"
            android:label="@string/lbl_game_CAPS"
            android:theme="@style/Theme.Game_stash.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>