<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.game_stash">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Game_stash">
        <activity android:name=".VErrorPage" android:parentActivityName=".VMainActivity"/>
        <activity android:name=".VProfile" android:parentActivityName=".VMainActivity"/>
        <activity android:name=".VAPIsGameDetails" android:parentActivityName=".VMainActivity"/>
        <activity
            android:name=".VSearchResults"
            android:label="@string/title_activity_search_results"
            android:theme="@style/Theme.Game_stash.NoActionBar" />
        <activity android:name=".VGameDisplay" android:parentActivityName=".VMainActivity"/>
        <activity android:name=".VAddGameManually" android:parentActivityName=".VMainActivity"/>
        <activity android:name=".VAddGameSearch" android:parentActivityName=".VMainActivity"/>
        <activity android:name=".VGameEditor" android:parentActivityName=".VMainActivity"/>
        <activity
            android:name=".VEditGamesList"
            android:label="@string/title_activity_edit_games_list"
            android:theme="@style/Theme.Game_stash.NoActionBar"
            android:parentActivityName=".VMainActivity" />
        <activity
            android:name=".VUsersListOfGames"
            android:label="@string/title_activity_users_list_of_games"
            android:theme="@style/Theme.Game_stash.NoActionBar"
            android:parentActivityName=".VMainActivity" />
        <activity
            android:name=".VMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Game_stash.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>