<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gamestash.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/lbl_game"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Game_stash"
        android:fullBackupContent="@xml/app_backup_rules">
        <activity
            android:name="com.gamestash.app.VErrorPage"
            android:parentActivityName="com.gamestash.app.VMainMenu"
            android:label="@string/lbl_error">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VProfile"
            android:parentActivityName="com.gamestash.app.VMainMenu"
            android:label="@string/lbl_profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VAPIGameDetails"
            android:parentActivityName="com.gamestash.app.VAPISearchResults"
            android:label="@string/lbl_game_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VAPISearchResults" />
        </activity>
        <activity
            android:name="com.gamestash.app.VAPISearchResults"
            android:label="@string/lbl_search_results"
            android:parentActivityName="com.gamestash.app.VAddGameSearch">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VAddGameSearch" />
        </activity>
        <activity
            android:name="com.gamestash.app.VUserGameDetails"
            android:parentActivityName="com.gamestash.app.VUsersListOfGames"
            android:label="@string/lbl_game_details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VUsersListOfGames" />
        </activity>
        <activity
            android:name="com.gamestash.app.VAddGameManually"
            android:parentActivityName="com.gamestash.app.VMainMenu"
            android:label="@string/lbl_add_a_game">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VAddGameSearch"
            android:parentActivityName="com.gamestash.app.VMainMenu"
            android:label="@string/lbl_add_a_game"/>
        <activity
            android:name="com.gamestash.app.VGameEditor"
            android:parentActivityName="com.gamestash.app.VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VEditGamesList"
            android:label="@string/lbl_game_editor"
            android:parentActivityName="com.gamestash.app.VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VUsersListOfGames"
            android:label="@string/lbl_your_games"
            android:parentActivityName="com.gamestash.app.VMainMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.gamestash.app.VMainMenu" />
        </activity>
        <activity
            android:name="com.gamestash.app.VMainMenu"
            android:label="@string/lbl_game"
            android:theme="@style/Theme.Game_stash.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>